/********************* Tab numbering ********************/
/* Kudos to https://github.com/tuomassalo/tab-numbering */
/* Setup: https://www.userchrome.org/how-create-userchrome-css.html */

/* 1. Enter about:profile in Firefox, copy "Profile Directory" path */
/* 2. Create a directory called `chrome` in Profile Directory */
/* 3. Put userChrome.css into newly created `chrome` directory */
/* 4. Enter about:config in Firefox and switch parameter 
* toolkit.legacyUserProfileCustomizations.stylesheets to True */
/********************************************************/
tabs {
  counter-reset: tab-counter;
}

tab:nth-child(1) .tab-content::before,
tab:nth-child(2) .tab-content::before,
tab:nth-child(3) .tab-content::before,
tab:nth-child(4) .tab-content::before,
tab:nth-child(5) .tab-content::before,
tab:nth-child(6) .tab-content::before,
tab:nth-child(7) .tab-content::before,
tab:nth-child(8) .tab-content::before,
tab:nth-child(9) .tab-content::before,
tab:nth-child(10) .tab-content::before,
tab:nth-child(11) .tab-content::before,
tab:nth-child(12) .tab-content::before,
tab:nth-child(13) .tab-content::before,
tab:nth-child(14) .tab-content::before,
tab:nth-child(15) .tab-content::before,
tab:nth-child(16) .tab-content::before,
tab:nth-child(17) .tab-content::before,
tab:nth-child(18) .tab-content::before,
tab:nth-child(19) .tab-content::before,
tab:nth-child(20) .tab-content::before {
  counter-increment: tab-counter;
  content: counter(tab-counter) "";

  position: absolute;
  left: 3px;
  top: 4px;

  opacity: .4;

  font-weight: bold;
  font-size: 60%;
}


/********************************************************/

